@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary-element {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(rgb(5, 4, 22), rgb(39, 27, 105));
}

body::-webkit-scrollbar {
    width: .5rem;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: rgb(86, 54, 201);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(40, 40, 143);
    border: .1rem solid rgb(40, 40, 143);
}

header {
    width: 100%;
    background: rgba(27, 26, 80, 0.329);
    padding: .5rem;
    text-align: center;
    color: rgb(249, 248, 255);
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form {
    margin: 3rem auto;
    display: flex;
    align-items: center;
}

.form input {
    border: none;
    outline: none;
    background-color: rgba(27, 26, 80, 0.329);
    padding: 1rem;
    border: .1rem solid rgb(248, 248, 255);
    border-radius: .3rem;
    color: rgb(249, 248, 255);
    margin-right: 1rem; 
    width: 23rem;
}

.form button {
    border: none;
    padding: .5rem;
    background-color: rgb(52, 29, 185);
    border: .1rem solid rgb(249, 248, 255);
    border-radius: .3rem;
    color: rgb(249, 248, 255);
    width: 4rem;
}

.form button:hover {
    background-color: rgb(86, 54, 201);
}

main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.list-items {
    width: 35rem;
    position: relative;
}

.item {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    border-radius: .3rem;
}

.item span {
    width: 100%;
    padding: .5rem 1rem;
    margin: .5rem;
    margin-right: 1rem;
    font-size: 1.6rem;
    border-bottom: .2rem solid rgb(249, 248, 255);
    color: rgb(249, 248, 255);
    line-height: 2.5rem;
}

.item button {
    margin-right: .5rem;
    border: none;
    padding: .5rem;
    border: .1rem solid rgb(249, 248, 255);
    border-radius: .3rem;
    color: rgb(249, 248, 255);
    width: 5rem;
    cursor: pointer;
}

.item .delete {
    background-color: rgb(63, 29, 185);
}

.clear {
    border: none;
    padding: 1rem;
    margin: 2rem 0;
    background-color: rgb(52, 29, 185);
    border: .1rem solid rgb(249, 248, 255);
    border-radius: .3rem;
    color: rgb(249, 248, 255);
    font-size: 1.2rem;
    width: 15rem;
}


.item .delete:hover, .clear:hover {
    background-color: rgb(86, 54, 201);
}

/*
@keyframes plup {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
*/