.popout {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 3rem;
    right: 4rem;

    background-color: rgb(46, 184, 46);
    color: #FFF;
    text-align: center;

    padding: 1.5rem;
    width: 20rem;

    border-radius: .3rem;
    animation: plup 900ms ease;
}

.popout p {
    margin-left: 1rem;
    font-size: 1.3rem;
}

@keyframes plup {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}